//
// Your custom SCSS should be written here...
// --------------------------------------------------


// Page header
// -------------------------

.page-header {
  padding-bottom: 0.5rem;
	margin: 1.875rem 0 1.25rem;
	border-bottom: 1px solid #eee;
}